parameters:
       level: 8
       paths:
           - src
           - tests
       ignoreErrors:
           -
               message: '#Unsafe usage of new static\(\).#'
               paths:
                   - tests/Unit/AbstractSingletonTest.php