parameters:
       level: 8
       paths:
           - src
           - tests
       ignoreErrors:
         -
           message: '#uses generic trait.*GetDataTrait but does not specify its types#'
           paths:
             - src/Http/*
             - src/Server/*
             - src/Traits/*
         -
           message: '#The @extends tag of class.*GetDataTrait but the class extends stdClass#'
           paths:
             - src/Server/*
         -
           message: '#function unserialize expects string#'
           paths:
             - src/Http/Session.php
         -
           message: '#Cannot access offset mixed on#'
           paths:
             - src/Http/Files.php
       reportUnmatchedIgnoredErrors: false
